html {
  background-color: antiquewhite;
}

body {
  align-items: center;
  text-align: center;
  font-size: 18px;
}

h1 {
  font-size: 50px;
}

img {
  height: 100%;
}

div {
  border: 2px solid burlywood;
  margin: 10px;
}

#introPic {
  float: left;
}

#bio {
  float: right;
}
#bio > li {
  align-items: flex-start;
  font-size: 8px;
  padding-bottom: 10px;
  padding-left: 25px;
}

#pro {
  width: auto;
}

@media all and (max-width: 1000px) {
  body {
    justify-content: center;
    text-align: center;
    font-size: 18px;
  }

  h1 {
    text-align: center;
    font-size: 50px;
  }

  img {
    text-align: center;
    height: 100%;
  }

  div {
    text-align: center;
    border: 2px solid burlywood;
    margin: 10px;
  }

  #introPic {
    text-align: center;
    float: left;
  }

  #bio {
    text-align: center;
    float: right;
  }
  #bio > li {
    text-align: center;
    padding: 2px;
    padding-top: 25px;
    padding-left: 25px;
  }

  #pro {
    align-items: center;
    width: auto;
  }
}
